<div class="medianotify-popup-content">

	<div class="medianotify-popup-content-inner clearfix">

		<div class="medianotify-popup-content-inner-text component-left component">

		</div>

		<div class="medianotify-popup-content-inner-media component-right component">

		</div>
		
	</div>

	<div class="medianotify-popup-buttons">
	</div>
</div>